<section class="slide-wrapper py-5" id="about">
    <div class="container py-lg-5">
        <h6 class="intr ser mx-auto">Немного о нас</h6>
        <div class="services">
            <div class="row service_w3top mt-5">
                <div class="col-lg-6 ser-lt">
                    <div class="d-flex services-box">
                        <div class="ser-icon">
                            <span class="fa fa-comment"></span>
                        </div>
                        <div class="service-content">
                            <h2>Акцизный продук</h2>
                            <p class="serp">
                                Вся наша продукция прошла сертификацию и получила государственные акцизные марки! Наш продукт полностью соответствует государственным нормам!
                            </p>
                        </div>
                    </div>
                    <div class="d-flex services-box ser-midd">
                        <div class="ser-icon">
                            <span class="fa fa-institution"></span>
                        </div>
                        <div class="service-content">
                            <h4>Крепость</h4>
                            <p class="serp">
                                NYC имеет 3 линейки крепости. Зеленая - легкая линейка подходит людям любящим просто подымить, желтая - средняя линейка для полупрофессионалов кальянной индустрии, красная - крепкая линейка для людей шараящих в крепких кальянах!
                            </p>
                        </div>
                    </div>
                    <div class="d-flex services-box bx-4">
                        <div class="ser-icon">
                            <span class="fa fa-wrench"></span>
                        </div>
                        <div class="service-content">
                            <h4>Натуральность</h4>
                            <p class="serp">
                                NYC делается только из проверенных натуральных ингредиентов. Настоящий Бразильский Berley, Кубинская тростниковая и карамельная патоки, овощной глицерин и пищевые ароматизаторы!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ser-rgt">
                    <div class="d-flex services-box bx-1">
                        <div class="ser-icon">
                            <span class="fa fa-refresh"></span>
                        </div>
                        <div class="service-content">
                            <h4>Качество</h4>
                            <p class="serp">
                               Мы используем качественное оборудование из Америки и Италии, тем самым качество продукции от партии к партии не меняется, все автоматизировано!
                            </p>
                        </div>
                    </div>
                    <div class="d-flex services-box ser-midd bx-2">
                        <div class="ser-icon">
                            <span class="fa fa-cog"></span>
                        </div>
                        <div class="service-content">
                            <h4>Voodoo Boom</h4>
                            <p class="serp">
                                Так же у нас есть продукция Voodoo Boom. Пользующаяся популярностью у людей желающих бросить курить, а так же с возможностью добавления крепости кальяну! Крепость Voodoo Boom 50 мг. Данный продукт фасуется в пакетики для удобства использования.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex services-box bx-3">
                        <div class="ser-icon">
                            <span class="fa fa-check"></span>
                        </div>
                        <div class="service-content">
                            <h4>Разнообразие</h4>
                            <p class="serp">
                                У NYC большой выбор вкусов, от самых обычных и до самых нестандартных, из нестандартных мы имеем ввиду: зеленая трава, розмарин, песто и конечно самый уникальный вкус на рынке жареные семечки!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
