<footer class="py-5 text-center">
    <div class="container">
        <div class="agileinfo-grids">
            <div class="agile-grid-left agile-grid-right text-center">
                <div class="social mb-4">
                    <ul>
                        <li><a href="https://vk.com/nyctobacco"><span class="fa mr-2 fa-vk"></span></a></li>
                        <li><a href="https://www.instagram.com/newyorkerclub/"><span class="fa mr-2 fa-instagram"></span></a></li>
                        <li><a href="https://wa.me/79090961933"><span class="fa mr-2 fa-whatsapp"></span></a></li>
                        <li><a href="tel:+79090961933"><span class="fa mr-2 fa-phone"></span></a></li>
                        <li><a href="mailto:tobacco@newyorkerclub.ru"><span class="fa mr-2 fa-envelope"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright text-center mb-4">
            <p>© 2018 Precise . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
        </div>
        <a href="#home" class="move-top scroll"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
    </div>
</footer>
