<section class="slide-wrapper py-5" id="production">
    <div class="container py-lg-5">
        <h6 class="intr ser mx-auto">Наша продукция</h6>
        <div class="services">
            <div class="row service_w3top mt-5">
                <div class="col-lg-6 ser-lt">
                    <div class="d-flex services-box">
                        <div class="service-content">
                            <h2>Табак NewYorkerClub</h2>
                            <p class="serp">
                              <%= image_tag("nycpack.png")%>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ser-rgt">
                    <div class="d-flex services-box bx-1">
                        <div class="service-content">
                            <h4>Усилитель крепости Voodooboom</h4>
                            <p class="serp">
                              <%= image_tag("voodoopack.png")%>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
